@model IEnumerable<RentC_MVC.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>

<p>
    @Html.ActionLink("Register New", "Create")
</p>
<p>
    @Html.ActionLink("Back to main page", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservStatsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.couponCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reservStatsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.couponCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  CarId=item.carId, CustomerId=item.customerId, StartDate=item.startDate, EndDate=item.endDate  }) |
            @Html.ActionLink("Delete", "Delete", new { CarId = item.carId, CustomerId = item.customerId, StartDate = item.startDate, EndDate = item.endDate })
        </td>
    </tr>
}

</table>
