@model IEnumerable<RentC_MVC.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Hire salesperson", "Create")
</p>
<p>
    @Html.ActionLink("Back to main page", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleId)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.enabled, new { id = item.userId, @class = "toggle", data_url =  Url.Action("UserActivity", "User") })
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(function() {
            $('.toggle').change(function() {
                var self = $(this);
                var url = self.data('url');
                var id = self.attr('id');
                var value = self.prop('checked');

                $.ajax({
                    url: url,
                    data: { id: id, decision: value },
                    type: 'POST',
                    success: function(response) {
                        alert(value ? "User enabled" : "User disabled");
                    }
                });
            });
        });
    </script>
}