@model IEnumerable<RentC_MVC.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Back to main page", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userId }) |
            @Html.ActionLink("Details", "Details", new { id=item.userId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userId })
        </td>
    </tr>
}

</table>
