@model IEnumerable<RentC_MVC.Models.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Back to main page", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customerId })
        </td>
    </tr>
}

</table>
