@model IEnumerable< Tuple<int, RentC_MVC.Models.Car>>

@{
    ViewBag.Title = "List Most Rented By Month";
}

<h2>Most rented cars by month</h2>

<p>
    @Html.ActionLink("Back to main page", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            Rents
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.pricePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.city)
        </th>
        <th></th>
    </tr>
    @if (Model != null) {

        foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.pricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.city)
                </td>
                <td>
                </td>
            </tr>
        }
    }

</table>
